<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
    h1 {
        text-align: center; 
    }
    

    #description {
        width: 1000px;
        margin: auto; 
        text-align: center; 
    }

    #breakfast{
        width: 500px;
        margin: auto; 
    }

    #summary {
        width: 500px;
        margin: auto; 
    }
    </style>
    <body>
            <%- include('./partials/navbar.ejs') %>
        <h1>Triple</h1>

        <div id = "description">
            <h2>Book Your Breakfast</h2>
            <p>Save time by booking your breakfast now. Whatever your plans for the day, whatever time zone you're in and whatever it is you like to eat, at Fox Hotel you will always find a breakfast that suits you.</p>
        </div>
    
        <div id = "breakfast">
                <h3>+100,000 IDR per Guest/Stay</h3>
                <form action = "/booking/triple/reserve" method = "POST">
                    <select name = "amount" onchange = "this.form.submit()" >
                        <% for(let i = 0; i <= reqsession.guests; i++) { %>
                            <option value = "<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </form>
        </div>

        <div id = "summary">
            <% let total = roomData.price %>
            <% let nights = dayCalculation(reqsession.arrival_time, reqsession.checkout_time) %>
            <h2>Your Stay</h2>
            <p>For <%= reqsession.guests %> Guest(s)</p>
            <p><%= nights %> night(s)</p>
            <p>Single Bedroom</p>
            <% if(amount) { %>
                <div id = "amount">
                    <h3>Breakfast</h3>
                    <p><%= amount %> x 100,000 IDR</p>
                    <a href = "/booking/single/breakfast/delete">delete</a>
                    <% total += amount * 100000 %>
                </div>
            <% } %>
            <h3>Total</h3>
            <p><%= priceCalculation(total, nights) %> IDR</p>


            <form action = '/booking/<%= roomData.id %>/payment' method = "POST">
                <button type = 'submit'>Book Now</button>
            </form>
        </div>
    </body>
</html>